body {
    font-size: 17px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -.02em;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-weight: 200;
    font-size: 4.5em;
    margin-top: 0;
    margin-bottom: 0.25em;
}

h2 {
    font-size: 2.25em;
    margin-bottom: 0;
    line-height: 1.25;
    font-weight: 200;
}

h3 {
    font-size: 1em;
    font-weight: 600;
    margin-top: 2em;
    margin-bottom: 1em;
}

/* Navbar
   ========================================================================== */

nav .brand-logo {
    position: inherit;
    font-size: 21px;
}

nav ul a:hover {
    background-color: transparent;
}

/* Home Page Content
   ========================================================================== */

.directory {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: normal;
    padding-top: 20px;
    position: relative;
    z-index: 1;
}

/* Blog Post List
   ========================================================================== */

.card-panel {
    box-shadow: none;
}

.post-list a {
    color: inherit;
}

.post-list-title {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: .015em;
    margin: 29px 0 0;
    word-wrap: break-word;
}

.post-list-date {
    font-size: 14px;
    letter-spacing: .1em;
}

.blog-subscribe-rss p {
    margin-top: 3em;
    font-size: 0.75em;
}

/* Blog Post
   ========================================================================== */

.post-date {
    font-size: 14px;
    letter-spacing: .1em;
    padding-bottom: 10px;
}

.post-title {
    font-weight: 700;
    font-size: 40px;
    margin-left: -2.5px;
    line-height: 1.04;
    letter-spacing: -.028em;
}

.post-subtitle {
}

.post h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-left: -2px;
    line-height: 1.15;
    letter-spacing: -.02em;
}

.post-content {
    font-family: 'Slabo 27px', serif;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
}

.post-content pre {
    margin: 0;
    margin-top: 43px;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    background: rgba(0,0,0,.05);
    padding: 20px;
    white-space: pre-wrap;
    overflow: auto;
}

.post-content code {
    font-family: inherit;
    font-size: 1em;
}

/* Syntax Highlighting
   ========================================================================== */

.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
