<a class="navbar-brand text-primary" href="/">Mitchell Cash</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link text-primary" href="/blog/">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary" href="/contact/">Contact</a>
        </li>
    </ul>
</div>
