<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>MitchellCash.com</title>
<meta name="description" content="I'm Mitchell Cash: sort of geeky, sort of not.">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% feed_meta %}

<link rel="stylesheet" href="/css/main.css">
{% if page.title contains 'Contact' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/1.9.33/css/materialdesignicons.min.css" integrity="sha256-SdMgofO0rFW8BpeHQYUjPFwdSk22dfFIMdRy/nVo+qU=" crossorigin="anonymous" />
{% endif %}
