<!DOCTYPE html>
<html lang="en">

<head>
    {% include layout/base/html-head.html %}
</head>

<body>
    <header class="mb-5">
        <nav class="navbar navbar-expand-sm navbar-light">
            <div class="container">
                {% include layout/base/head-menu.html %}
            </div>
        </nav>
        <div class="container">
            <hr class="mb-0 mt-0"></hr>
        </div>
    </header>
    <main>
        <div class="container">
            {{ content }}
        </div>
    </main>
    {% include layout/base/footer-js.html %}
    <!-- Built with love by Mitchell Cash -->
</body>
</html>
