---
layout: base
---

<div class="row mb-3">
    <div class="col-sm-2"></div>
    <div class="col">
        <div class="row">
            <div class="col">
                <article><small class="text-muted">{{ page.date | date: "%-d %b %Y" }} | <i class="far fa-clock"></i>
                        {% include read-time.html %}</small>
                    <h1 class="font-weight-bold">{{ page.title }}</h1>
                    <div class="post-content">
                        {{ content }}
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr class="mt-0" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% for tag in page.tags %}
                <button class="btn btn-secondary btn-sm text-capitalize" type="button">{{ tag }}</button>
                {% endfor %}
            </div>
            <div class="col">
                <a class="text-secondary float-right" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" title="Share on Facebook">
                    <i class="fab fa-facebook-square float-right" style="font-size:1.5rem;"></i>
                </a>
                <a class="text-secondary float-right" href="https://twitter.com/intent/tweet?text={{ '“' | uri_escape }}{{ page.title | uri_escape }}{{ '”' | uri_escape }}{{ ' by @Mitch_Cash ' | uri_escape }}{{ site.url }}{{ page.url }}" target="_blank" title="Share on Twitter">
                    <i class="fab fa-twitter-square float-right mr-1" style="font-size:1.5rem;"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
