html {
    font-family: "Source Sans Pro","Open Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
}

body {
    color: #000;
    font-size: 18px;
    margin: 0 auto;
    max-width: 700px;
    padding: 16px;

    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga", "kern";
    text-rendering: optimizelegibility;
}

a {
    color: #08c;
}
a:visited, a:link, a:active {
    text-decoration: none;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.45em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.content-center {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

h1 {
    font-size: 84px;
    font-weight: 200;
    letter-spacing: -0.01em;
    line-height: 1.14286;
}

h2 {
    margin-bottom: 18px;
}

h2 {
    font-size: 42px;
    font-weight: 200;
    letter-spacing: -0.01em;
    line-height: 1.14286;
}

h3 {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.66667;
    margin: 0;
}

.directory::before .directory::after {
    content: " ";
    display: table;
}

.directory::after {
    clear: both;
}

.directory {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.66667;
    padding-top: 20px;
    position: relative;
    z-index: 1;
}

.directory.with-3-columns .directory-column {
    width: 33.33%;
}

.directory-column {
    float: left;
    margin: 0;
    min-height: 2px;
    padding: 0;
    position: relative;
    z-index: 1;
}

.directory-column-section {
    margin: 0;
    min-height: 2px;
    padding: 0;
    pointer-events: none;
    position: relative;
    width: 100%;
    z-index: 1;
}

.directory-column-section .directory-section-list .directory-section-item .directory-section-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.66667;
}

.directory-column-section .directory-section-list {
    letter-spacing: normal;
}

.directory-column-section .directory-section-list .directory-section-item {
    color: #666;
}

.directory-section-list {
    list-style: outside none none;
    padding: 0;
}

.directory-section-list {
    pointer-events: none;
}

.directory-section-item {
    display: block;
    pointer-events: auto;
}

.directory-section-item .directory-section-link {
    letter-spacing: normal;
    margin: 0;
    padding: 0;
}

.directory-section-item .directory-section-link {
    list-style: outside none none;
}

a.directory-section-link {
    color: #666;
    text-decoration: none;
}

.directory-section-link {
    pointer-events: auto;
}





.nav {
    border-bottom: 1px solid #eee;
    margin-bottom: 2em;
    padding: 1em 0 0.5em;
}

.nav a {
    display: inline-block;
    margin: 0 1em 0 0;
    text-decoration: none;
}

.left { float: left !important; }
.right { float: right !important; }
.clear { clear: both !important; }
